@{
  Layout = "_Layout";
}

@model ToDoList.Models.Restaurant

<h2>Restaurants Description: </h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.RestaurantId })</p>